@use '../../../../common/styles/mediaQueries.scss' as mq;

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2em 1fr;

    @media (max-width: mq.$mantine-breakpoint-md) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2em 1fr;
    }
}
